body {
  margin: 0%;
}

.banner-image {
  background-image: url('./images/starWarsVsStarTrek.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* width: 100%; */
  height: 50vh;
}

.character-choose {
  background-color: black;
  /* width: 100%; */
  height: 50vh;
}

.choose-your-side {
  margin-top: 0;
  color: white;
  text-align: center;
  padding-top: 1.5rem;
}

.character-container {
  display: flex;
  justify-content: center;
}

.starTrekShip-image {
  width: 30%;
  height: auto;
  display: block;
  margin: 0 auto;
  transform: rotate(90deg);
}

.starWarShip-image {
  width: 30%;
  height: auto;
  display: block;
  margin: 0 auto;
  transform: rotate(-135deg);
}

.starTrek-click-text,
.starWars-click-text {
  color: white;
  font-size: 2rem;
  text-align: center;
  margin-top: 0%;
}

.gamePlayArea {
  width: 100%;
  height: 100vh;
  /* background-color: blue; */
  overflow: hidden;
  position: relative;
}

.dashboard {
  display: none;
  color: white;
  font-size: 2rem;
  font-family: 'Orbitron', sans-serif;
}

.dashboard>div {
  width: 48%;
  text-align: right;
  display: inline-block;
}

.progress {
  height: 20px;
  width: 300px;
  background-color: #333;
  border-radius: 25px;
  border: 1px solid black;
}

.progress-bar {
  background-color: greenyellow;
  width: 100%;
  height: 20px;
  border-radius: 25px;
}

#gameOverEle {
  position: absolute;
  height: 300px;
  width: 600px;
  left: 100px;
  background-color: #333;
  color: white;
  font-size: 2rem;
  text-align: center;
}

.btnStart {
  padding: 15px;
  border: 1px solid white;
  background-color: red;
  font-size: 3rem;
}

#container {
  display: none;
  /* background-color: black; */
  background-image: url('./images/star\ bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.base {
  border-radius: 5px;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  left: 500px;
  top: 330px;
  background-color: #333;
  color: white;
  margin: auto;
}

.ship {
  transform: rotate(30deg);
  width: 100%;
  left: 206px;
  top: 330px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.box {
  transform: rotate(-130deg);
  position: absolute;
  transform: translate(-50%, -50%);
  left: 206px;
  top: 330px;
  border: 1px solid black;
  width: 80px;
  height: 80px;
  /* background-color: blue; */
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.turret {
  position: absolute;
  height: 100%;
  width: 40%;
  margin-left: 30%;
  bottom: 35%;
  border-radius: 5px;
  /* background-color: darkgrey; */
}

.fireme {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 0, 0.8);
  border-radius: 50px;
  z-index: 1;
}

.baddy {
  position: absolute;
  padding: 5px;
  text-align: center;
  border: 1px dotted #555;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  width: 80px;
  height: auto;
}

.baddy img {
  width: 100%;
  height: auto;
}